// vabuti Font
@font-face {
    font-family: 'Van-SVN-Mont';
    src: url('../../font/van-Regular.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Van-SVN-Mont';
    src: url('../../font/van-Bold.woff2') format('woff2');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Van-SVN-Mont';
    src: url('../../font/van-SemiBold.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
}