body,
input,
select,
textarea,
button {
    font-size: 15px;
    color: #333;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

*,
:after,
:before {
    border: 0 solid;
    box-sizing: border-box;
}

.blind,
caption span,
legend {
    overflow: hidden;
    position: absolute;
    top: 0;
    left: 0;
    width: 1px;
    height: 1px;
    font-size: 0;
    text-indent: -9999px;
    white-space: nowrap;
}

body {
    background-color: #f4f4f4;
}

img {
    max-width: 100%;
}

.tel {
    position: fixed;
    bottom: 25px;
    right: 10px;
    z-index: 10;
}

.tel-call {
    display: block;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background: var(--darkgray);
    position: relative;

    .fa-phone {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%) scale(0.9);
        font-size: 30px;
        color: var(--white);
    }
}

.wrap-admin {
    flex-direction: row-reverse;
    margin-top: 64px;
}

.admin-content {
    width: calc(100% - 200px);
}

.sidebar-wrapper {
    display: flex;
    flex-direction: row;
}

@media screen and (min-width: 1024px) {
    .container {
        width: 100vw;
        max-width: 1200px;
        margin: 0 auto;
    }

    .container-fluid {
        position: relative;
        left: 0;
        right: 0;
        width: 100%;
        margin: 0 auto;
    }
}

@media screen and (max-width: 1023px) {
    .wrap-admin {
        display: block;
    }
}
